<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hello World</title>
            Hello {{ name }} !
    <a href="/hello">Go to hello</a>
    </head>
    <body>

    </body>
</html>
