<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Hello World</title>

	</head>
	<body>
		Hello
		{{ name }}
		!
		<br>
		<a href="/register">Créer un compte</a> <br>
		<a href="/login">Login</a> <br>
		<a href="/product">Formulaire produit</a> <br>

	</body>
</html>
