<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Bravo !</title>

	</head>

	<body>
    Bravo, vous avez créé votre compte ! 
    <br>
    Nom : {{ name }}
    <br>
    Email : {{ email }}
    </body>


</html>
